Repository bounswe/bounswe2020group7, pull requests merged in 2020-11, with the labels that each got.

#108 Backend dev login
  Platon/backend/app/__init__.py
  Platon/backend/app/auth_system/forms.py
  Platon/backend/app/auth_system/models.py
  Platon/backend/app/auth_system/views.py
  Platon/backend/app/follow_system/views.py
  Platon/backend/app/profile_management/views.py
  Platon/backend/config.py
  Platon/backend/migrations/__pycache__/env.cpython-38.pyc
  Platon/backend/migrations/versions/__pycache__/2a45256f7e73_initial_migration.cpython-38.pyc
  Platon/backend/migrations/versions/__pycache__/2e5cd3b20b15_initial_migration.cpython-38.pyc
  Platon/backend/migrations/versions/__pycache__/41b69090945e_initial_migration.cpython-38.pyc
  Platon/backend/migrations/versions/__pycache__/62527399a925_first_design_is_finished.cpython-38.pyc
  Platon/backend/requirements.txt
  Platon/backend/test.py
  Platon/backend/tests/auth_system_test.py
  Platon/backend/tests/base_test.py
  Platon/backend/tests/login_test.py
Labels: Priority: High, Status: Under review, Subteam: Backend, Type: New Feature

#120 Backend dev research info
  Platon/backend/app/__init__.py
  Platon/backend/app/auth_system/helpers.py
  Platon/backend/app/auth_system/views.py
  Platon/backend/app/follow_system/helpers.py
  Platon/backend/app/follow_system/models.py
  Platon/backend/app/follow_system/views.py
  Platon/backend/app/profile_management/forms.py
  Platon/backend/app/profile_management/helpers.py
  Platon/backend/app/profile_management/models.py
  Platon/backend/app/profile_management/views.py
  Platon/backend/requirements.txt
  Platon/backend/test.py
  Platon/backend/tests/auth_system_test.py
  Platon/backend/tests/profile_management_test.py
Labels: Priority: High, Status: In Review, Subteam: Backend

#119 Backend dev follow
  Platon/backend/app/follow_system/forms.py
  Platon/backend/app/follow_system/models.py
  Platon/backend/app/follow_system/views.py
  Platon/backend/test.py
  Platon/backend/tests/follow_test.py
Labels: Priority: Medium, Status: In Review, Subteam: Backend, Type: New Feature

#123 Notification System is Finished
  Platon/backend/app/auth_system/helpers.py
  Platon/backend/app/follow_system/views.py
  Platon/backend/app/profile_management/forms.py
  Platon/backend/app/profile_management/helpers.py
  Platon/backend/app/profile_management/models.py
  Platon/backend/app/profile_management/views.py
  Platon/backend/config.py
  Platon/backend/test.py
  Platon/backend/tests/auth_system_test.py
  Platon/backend/tests/profile_management_test.py
Labels: Priority: Medium, Status: In Review, Subteam: Backend
