Repository bounswe/bounswe2020group7, pull requests merged in 2020-12, with the labels that each got.

#213 Android dev newarch others pp
  Platon/.idea/caches/build_file_checksums.ser
  Platon/.idea/modules/app/Platon.app.iml
  Platon/app/src/main/java/com/cmpe451/platon/adapter/OtherUserProjectsAdapter.kt
  Platon/app/src/main/java/com/cmpe451/platon/networkmodels/models/User.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/fragment/follow/FollowFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/fragment/otherprofile/OtherProfileFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/fragment/otherprofile/OtherProfileRepository.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/fragment/otherprofile/OtherProfileViewModel.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/fragment/otherprofile/model/OtherProfileRepository.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/fragment/otherprofile/presenter/OtherProfilePresenter.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/fragment/otherprofile/view/OtherProfileFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/util/Definitions.kt
  Platon/app/src/main/java/com/cmpe451/platon/util/Webservice.kt
  Platon/app/src/main/res/layout/fragment_profile_page.xml
  Platon/app/src/main/res/layout/fragment_profile_page_info_item.xml
  Platon/app/src/main/res/layout/fragment_profile_page_others_private.xml
  Platon/app/src/main/res/navigation/nav_graph_home.xml
  Platon/app/src/main/res/values/strings.xml
Labels: Priority: Medium, Status: Approved, Status: Done

#209 Backend dev follow m2
  Platon/backend/app/auth_system/views.py
  Platon/backend/app/follow_system/forms.py
  Platon/backend/app/follow_system/views.py
  Platon/backend/app/profile_management/models.py
  Platon/backend/app/profile_management/views.py
  Platon/backend/tests/follow_test.py
Labels: Priority: Medium, Type: New Feature

#245 Follow System Request-Response Cycle is updated
  Platon/backend/app/follow_system/forms.py
  Platon/backend/app/follow_system/views.py
  Platon/backend/tests/follow_test.py
Labels: Subteam: Backend

#241 Follow System Pagination added
  Platon/backend/app/follow_system/forms.py
  Platon/backend/app/follow_system/views.py
Labels: Subteam: Backend

#291 Backend Issues, Issue Assignees and Issue Comments are implemented
  .gitignore
  Platon/backend/app/workspace_system/forms.py
  Platon/backend/app/workspace_system/models.py
  Platon/backend/app/workspace_system/views.py
  Platon/backend/test.py
  Platon/backend/tests/issues_test.py
Labels: Priority: High, Subteam: Backend

#297 Backend dev MilestoneAPI completed
  Platon/backend/app/workspace_system/forms.py
  Platon/backend/app/workspace_system/helpers.py
  Platon/backend/app/workspace_system/models.py
  Platon/backend/app/workspace_system/views.py
  Platon/backend/test.py
  Platon/backend/tests/issues_test.py
  Platon/backend/tests/milestone_test.py
Labels: Priority: High, Subteam: Backend

#349 Frontend notification is ready to deploy
  Platon/frontend/src/components/HomePage/HomePage.jsx
  Platon/frontend/src/components/NavBar/NavBar.js
Labels: Priority: Medium, Subteam: Frontend, Type: Improvement

#352 File preview feature is added
  Platon/frontend/src/components/NavBar/NavBar.js
  Platon/frontend/src/components/Workspace/WorkspaceInput/WorkspaceInputOptional/WorkspaceInputOptional.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceView.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSection.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSectionEditConfirmation/WorkspaceViewFileSectionEditConfirmation.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSectionPreviewConfirmation/WorkspaceViewFileSectionPreviewConfirmation.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewStateTimeline/WorkspaceViewStateTimeline.js
Labels: Priority: Highest, Subteam: Frontend, Type: New Feature

#350 Post Issue Now Returns Issue ID
  Platon/backend/app/workspace_system/views.py
  Platon/backend/tests/issues_test.py
Labels: Priority: Highest, Subteam: Backend, Type: Improvement

#355 Backend Dev Post Issue Improvement
  Platon/backend/Dockerfile
  Platon/backend/app/workspace_system/views.py
  Platon/backend/tests/issues_test.py
Labels: Priority: Highest, Subteam: Backend, Type: Improvement

#356 Backend Dev Documentation Bug Solved
  Platon/backend/app/workspace_system/forms.py
  Platon/backend/app/workspace_system/views.py
Labels: Priority: Highest, Subteam: Backend, Type: Bug

#336 Backend dev file system
  Platon/backend/app/file_system/views.py
  Platon/backend/app/workspace_system/helpers.py
Labels: Priority: High, Subteam: Backend, Type: Improvement

#347 Backend dev bug fixes
  Platon/backend/app/file_system/views.py
  Platon/backend/app/profile_management/views.py
Labels: Priority: High, Status: Under review, Subteam: Backend, Type: Bug

#364 Notification and file preview bugs are fixed
  Platon/frontend/src/components/NavBar/NavBar.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceView.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSection.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSectionEditConfirmation/WorkspaceViewFileSectionEditConfirmation.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSectionPreviewConfirmation/WorkspaceViewFileSectionPreviewConfirmation.js
Labels: Priority: Highest, Subteam: Frontend, Type: Bug

#365 Notification and file preview bugs are fixed, ready for deployment
  Platon/frontend/src/components/NavBar/NavBar.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceView.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSection.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSectionEditConfirmation/WorkspaceViewFileSectionEditConfirmation.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSectionPreviewConfirmation/WorkspaceViewFileSectionPreviewConfirmation.js
Labels: Priority: Highest, Subteam: Frontend, Type: Bug

#363 Sorting Functionality of User Search is Implemented
  Platon/backend/app/search_engine/forms.py
  Platon/backend/app/search_engine/helpers.py
  Platon/backend/app/search_engine/views.py
  Platon/backend/test.py
  Platon/backend/tests/search_engine_test.py
Labels: Priority: High, Status: Under review, Subteam: Backend, Type: New Feature

#366 Backend Dev Workspace Search Completed
  Platon/backend/app/search_engine/forms.py
  Platon/backend/app/search_engine/views.py
  Platon/backend/test.py
  Platon/backend/tests/search_engine_test.py
Labels: Priority: High, Subteam: Backend, Type: Improvement

#362 Workspace Get Deadline is formatted
  Platon/backend/app/workspace_system/forms.py
  Platon/backend/app/workspace_system/helpers.py
  Platon/backend/app/workspace_system/models.py
  Platon/backend/app/workspace_system/views.py
Labels: Priority: High, Status: Under review, Subteam: Backend, Type: Improvement

#379 Profile and Search Component Merge
  Platon/frontend/src/App.js
  Platon/frontend/src/components/AppBar/AppBar.js
  Platon/frontend/src/components/EditProfile/EditProfile.css
  Platon/frontend/src/components/EditProfile/EditProfile.js
  Platon/frontend/src/components/NavBar/NavBar.js
  Platon/frontend/src/components/ProfilePage/ProfilePage.css
  Platon/frontend/src/components/ProfilePage/ProfilePage.js
  Platon/frontend/src/components/Search/Search.css
  Platon/frontend/src/components/Search/Search.js
  Platon/frontend/src/services/requestService.js
Labels: Priority: High, Subteam: Frontend

#329 Upcoming Event Search
  Platon/backend/app/search_engine/forms.py
  Platon/backend/app/search_engine/helpers.py
  Platon/backend/app/search_engine/views.py
  Platon/backend/test.py
  Platon/backend/tests/search_engine_test.py
Labels: Priority: High, Subteam: Backend, Type: New Feature

#380 Invitation and Small Changes after Merge
  Platon/frontend/src/components/EditProfile/EditProfile.css
  Platon/frontend/src/components/ProfilePage/ProfilePage.js
  Platon/frontend/src/components/Search/Search.js
Labels: Priority: Medium, Subteam: Frontend

#381 Android dev file
  Platon/app/build.gradle
  Platon/app/src/main/AndroidManifest.xml
  Platon/app/src/main/java/com/cmpe451/platon/adapter/FilesAdapter.kt
  Platon/app/src/main/java/com/cmpe451/platon/adapter/FoldersAdapter.kt
  Platon/app/src/main/java/com/cmpe451/platon/adapter/MilestoneAdapter.kt
  Platon/app/src/main/java/com/cmpe451/platon/adapter/TrendingProjectsAdapter.kt
  Platon/app/src/main/java/com/cmpe451/platon/adapter/WorkspaceApplicationsAdapter.kt
  Platon/app/src/main/java/com/cmpe451/platon/adapter/WorkspaceInvitationsAdapter.kt
  Platon/app/src/main/java/com/cmpe451/platon/network/Webservice.kt
  Platon/app/src/main/java/com/cmpe451/platon/network/models/ActivityStream.kt
  Platon/app/src/main/java/com/cmpe451/platon/network/models/Search.kt
  Platon/app/src/main/java/com/cmpe451/platon/network/models/Workspace.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/HomeActivity.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/HomeActivityRepository.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/HomeActivityViewModel.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/home/HomeFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/profilepage/ProfilePageFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/workspace/WorkspaceListFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/login/LoginActivity.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/login/fragment/landing/LandingFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/WorkspaceActivity.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/fragment/editworkspace/EditWorkspaceFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/fragment/editworkspace/EditWorkspaceRepository.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/fragment/editworkspace/EditWorkspaceViewModel.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/fragment/filesystem/WorkspaceEditorFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/fragment/filesystem/WorkspaceFolderFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/fragment/filesystem/WorkspaceFolderRepository.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/fragment/filesystem/WorkspaceFolderViewModel.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/fragment/workspace/WorkspaceFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/fragment/workspace/WorkspaceRepository.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/fragment/workspace/WorkspaceViewModel.kt
  Platon/app/src/main/java/com/cmpe451/platon/util/Definitions.kt
  Platon/app/src/main/res/drawable/ic_border_color_24px.xml
  Platon/app/src/main/res/drawable/ic_delete_black_24dp.xml
  Platon/app/src/main/res/drawable/ic_editprofile_black_24px.xml
  Platon/app/src/main/res/drawable/ic_remove_24px.xml
  Platon/app/src/main/res/drawable/ic_text_fields_24px.xml
  Platon/app/src/main/res/drawable/ic_timeline_24px.xml
  Platon/app/src/main/res/layout/activity_home.xml
  Platon/app/src/main/res/layout/activity_login.xml
  Platon/app/src/main/res/layout/dialog_add_folder.xml
  Platon/app/src/main/res/layout/dialog_add_milestone.xml
  Platon/app/src/main/res/layout/dialog_ws_applications.xml
  Platon/app/src/main/res/layout/edit_file_layout.xml
  Platon/app/src/main/res/layout/file_item.xml
  Platon/app/src/main/res/layout/folder_item.xml
  Platon/app/src/main/res/layout/fragment_edit_workspace.xml
  Platon/app/src/main/res/layout/fragment_follower_following_item.xml
  Platon/app/src/main/res/layout/fragment_personal_workspace.xml
  Platon/app/src/main/res/layout/milestone_cell.xml
  Platon/app/src/main/res/layout/skill_cell_personal.xml
  Platon/app/src/main/res/menu/actionbar_workspace.xml
  Platon/app/src/main/res/navigation/nav_graph_workspace.xml
  Platon/app/src/main/res/values/strings.xml
Labels: Priority: High

#386 Workspace application, milestone creation, profile page edition, follow mechanism, user search are added
  Platon/frontend/package.json
  Platon/frontend/src/App.js
  Platon/frontend/src/components/AppBar/AppBar.js
  Platon/frontend/src/components/EditProfile/EditProfile.css
  Platon/frontend/src/components/EditProfile/EditProfile.js
  Platon/frontend/src/components/NavBar/NavBar.js
  Platon/frontend/src/components/ProfilePage/ProfilePage.css
  Platon/frontend/src/components/ProfilePage/ProfilePage.js
  Platon/frontend/src/components/Search/Search.css
  Platon/frontend/src/components/Search/Search.js
  Platon/frontend/src/components/UpcomingEvents/UpcomingEvents.js
  Platon/frontend/src/components/Workspace/WorkspaceEdit/WorkspaceEdit.js
  Platon/frontend/src/components/Workspace/WorkspaceInput/WorkspaceInputDate/WorkspaceInputDate.js
  Platon/frontend/src/components/Workspace/WorkspaceList/WorkspaceList.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceView.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSection.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewMilestoneSection/index.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewMilestoneSection/item/index.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewMilestoneSection/modals/createupdate.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewMilestoneSection/modals/delete.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewMilestoneSection/utils.js
  Platon/frontend/src/services/requestService.js
Labels: Priority: Highest, Subteam: Frontend

#387 Homepage, profile page are styled, null deadline bug is fixed
  Platon/frontend/src/components/HomePage/Comment.js
  Platon/frontend/src/components/HomePage/HomePage.jsx
  Platon/frontend/src/components/HomePage/InfiniteScroll.js
  Platon/frontend/src/components/Logo/Logo.js
  Platon/frontend/src/components/ProfilePage/ProfilePage.js
  Platon/frontend/src/components/Spinner/Spinner.css
  Platon/frontend/src/components/Spinner/Spinner.js
  Platon/frontend/src/components/TrendingProjects/TrendingProjects.js
  Platon/frontend/src/components/TrendingProjects/TrendingProjectsItem/TrendingProjectsItem.js
  Platon/frontend/src/components/UpcomingEvents/UpcomingEvents.js
  Platon/frontend/src/components/Workspace/WorkspaceEdit/WorkspaceEdit.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSection.js
Labels: Priority: High, Subteam: Frontend, Type: Bug, Type: Improvement

#388 Homepage, profile page are styled, null deadline bug is fixed
  Platon/frontend/src/components/HomePage/Comment.js
  Platon/frontend/src/components/HomePage/HomePage.jsx
  Platon/frontend/src/components/HomePage/InfiniteScroll.js
  Platon/frontend/src/components/Logo/Logo.js
  Platon/frontend/src/components/ProfilePage/ProfilePage.js
  Platon/frontend/src/components/Spinner/Spinner.css
  Platon/frontend/src/components/Spinner/Spinner.js
  Platon/frontend/src/components/TrendingProjects/TrendingProjects.js
  Platon/frontend/src/components/TrendingProjects/TrendingProjectsItem/TrendingProjectsItem.js
  Platon/frontend/src/components/UpcomingEvents/UpcomingEvents.js
  Platon/frontend/src/components/Workspace/WorkspaceEdit/WorkspaceEdit.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSection.js
Labels: Priority: Highest, Subteam: Frontend

#389 Trending workspacelink bug fixed
  Platon/frontend/src/components/TrendingProjects/TrendingProjects.js
Labels: Priority: Highest, Subteam: Frontend

#390 Trending workspaces link bug is fixed
  Platon/frontend/src/components/TrendingProjects/TrendingProjects.js
Labels: Priority: Highest, Subteam: Frontend, Type: Bug

#391 GET Issue & Issue Comment - Profile Photo Information
  Platon/backend/app/workspace_system/views.py
Labels: Priority: High, Subteam: Backend, Type: Improvement

#398 Home page merge conflict issue is solved
  Platon/frontend/src/components/HomePage/Comment.js
  Platon/frontend/src/components/HomePage/InfiniteScroll.js
  Platon/frontend/src/components/HomePage/commentStyle.css
Labels: Priority: Highest, Subteam: Frontend, Type: Bug

#399 Invitation is added home page is styled
  .idea/.gitignore
  .idea/bounswe2020group7.iml
  .idea/misc.xml
  .idea/vcs.xml
  .idea/workspace.xml
  Platon/frontend/src/components/HomePage/Comment.js
  Platon/frontend/src/components/HomePage/HomePage.jsx
  Platon/frontend/src/components/HomePage/InfiniteScroll.js
  Platon/frontend/src/components/HomePage/commentStyle.css
  Platon/frontend/src/components/Issue/CreateIssue.js
  Platon/frontend/src/components/Issue/Issue.js
  Platon/frontend/src/components/ProfilePage/InviteDialog/index.js
  Platon/frontend/src/components/ProfilePage/InviteDialog/utils.js
  Platon/frontend/src/components/ProfilePage/ProfilePage.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceView.js
  Platon/frontend/src/services/requestService.js
Labels: Priority: Highest, Subteam: Frontend, Type: Improvement, Type: New Feature

#400 Incoming invitations
  Platon/frontend/src/components/Workspace/WorkspaceList/WorkspaceList.js
Labels: Priority: Medium, Type: New Feature

#401 Invitation test is done
  Platon/frontend/src/components/Workspace/WorkspaceList/WorkspaceList.js
Labels: Priority: Medium, Subteam: Frontend, Type: New Feature

#403 Search Release
  Platon/frontend/src/components/Search/Search.css
  Platon/frontend/src/components/Search/Search.js
  Platon/frontend/src/services/requestService.js
Labels: Priority: High, Subteam: Frontend

#409 Frontend Attaching Upcoming Events
  Platon/frontend/src/components/Workspace/WorkspaceCreate/WorkspaceCreate.js
  Platon/frontend/src/components/Workspace/WorkspaceEdit/WorkspaceEdit.js
  Platon/frontend/src/components/Workspace/WorkspaceInput/WorkspaceInputDate/WorkspaceInputDate.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceView.js
Labels: Priority: Highest, Subteam: Frontend, Type: New Feature
