Repository bounswe/bounswe2020group7, pull requests merged in 2021-01, with the labels that each got.

#416 Backend Dev Activity Stream Functionalities
  Platon/backend/app/__init__.py
  Platon/backend/app/activity_stream/__init__.py
  Platon/backend/app/activity_stream/forms.py
  Platon/backend/app/activity_stream/helpers.py
  Platon/backend/app/activity_stream/models.py
  Platon/backend/app/activity_stream/views.py
  Platon/backend/app/follow_system/views.py
  Platon/backend/app/models.py
  Platon/backend/app/workspace_system/views.py
  Platon/backend/migrations/__pycache__/env.cpython-38.pyc
  Platon/backend/migrations/versions/3c39990a78d6_.py
  Platon/backend/test.py
  Platon/backend/tests/activity_stream_test.py
Labels: Priority: High, Subteam: Backend, Type: New Feature

#419 Tag Search is implemented
  Platon/backend/app/search_engine/forms.py
  Platon/backend/app/search_engine/views.py
Labels: Priority: High, Status: In Review, Status: Waiting For Response, Subteam: Backend, Type: New Feature

#418 Backend dev recommendation
  Platon/backend/app/__init__.py
  Platon/backend/app/follow_system/views.py
  Platon/backend/app/models.py
  Platon/backend/app/recommendation_system/__init__.py
  Platon/backend/app/recommendation_system/forms.py
  Platon/backend/app/recommendation_system/helpers.py
  Platon/backend/app/recommendation_system/models.py
  Platon/backend/app/recommendation_system/views.py
  Platon/backend/app/workspace_system/views.py
  Platon/backend/test.py
  Platon/backend/tests/recommendation_system_test.py
Labels: Priority: High, Status: In Review, Status: Waiting For Response, Subteam: Backend, Type: New Feature

#421 Backend dev notification
  Platon/backend/app/__init__.py
  Platon/backend/app/auth_system/views.py
  Platon/backend/app/profile_management/helpers.py
  Platon/backend/config.py
  Platon/backend/templates/account_verification.html
  Platon/backend/templates/reset_password.html
Labels: Priority: Medium, Status: In Review, Status: Waiting For Response, Type: Improvement

#412 IssueAPI and MilestoneAPI Privacy Improvement
  Platon/backend/app/workspace_system/views.py
Labels: Priority: Low, Subteam: Backend, Type: Improvement

#411 IssueInfoAPI implemented
  Platon/backend/app/workspace_system/forms.py
  Platon/backend/app/workspace_system/views.py
  Platon/backend/tests/issues_test.py
Labels: Priority: Medium, Subteam: Backend, Type: New Feature

#427 Workspace and Collaboration Recommendations are completed, some bug are fixed
  Platon/frontend/src/components/EditProfile/EditProfile.js
  Platon/frontend/src/components/Logo/Logo.js
  Platon/frontend/src/components/ProfilePage/EditResearchDialog/EditResearchDialog.js
  Platon/frontend/src/components/ProfilePage/ProfilePage.js
  Platon/frontend/src/components/Recommendation/CollaboratorRecommendation/CollaboratorRecommendationDialog/CollaboratorRecommendationDialog.js
  Platon/frontend/src/components/Recommendation/WorkspaceRecommendation/WorkspaceRecommendation.js
  Platon/frontend/src/components/Spinner/Spinner.js
  Platon/frontend/src/components/Workspace/WorkspaceList/WorkspaceList.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceView.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewIssueSection/index.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewIssueSection/modals/addComment.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewIssueSection/modals/assignee.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewIssueSection/modals/createupdate.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewIssueSection/modals/delete.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewIssueSection/utils.js
  Platon/frontend/src/utils/colors.js
Labels: Priority: High, Subteam: Frontend, Type: Bug, Type: New Feature

#426 Android dev recommendation of following, workspaces, and collaborators
  Platon/.idea/assetWizardSettings.xml
  Platon/.idea/caches/build_file_checksums.ser
  Platon/app/src/main/java/com/cmpe451/platon/adapter/RecommendedCollaboratorsAdapter.kt
  Platon/app/src/main/java/com/cmpe451/platon/adapter/RecommendedFollowAdapter.kt
  Platon/app/src/main/java/com/cmpe451/platon/adapter/WorkspaceRecommendationAdapter.kt
  Platon/app/src/main/java/com/cmpe451/platon/network/Webservice.kt
  Platon/app/src/main/java/com/cmpe451/platon/network/models/Recommended.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/follow/FollowFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/follow/FollowRepository.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/follow/FollowViewModel.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/otherprofile/OtherProfileRepository.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/profilepage/ProfilePageRepository.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/workspace/WorkspaceListFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/workspace/WorkspaceListRepository.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/workspace/WorkspaceListViewModel.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/fragment/workspace/WorkspaceFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/fragment/workspace/WorkspaceRepository.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/fragment/workspace/WorkspaceViewModel.kt
  Platon/app/src/main/res/drawable/ic_rec_ws_24px.xml
  Platon/app/src/main/res/layout/dialog_recommended.xml
  Platon/app/src/main/res/layout/recommended_profile_cell.xml
  Platon/app/src/main/res/menu/actionbar_home.xml
  Platon/app/src/main/res/values/strings.xml
Labels: Priority: Medium, Status: Waiting For Response, Subteam: Android

#431 Implementation of Tag Search
  Platon/.idea/navEditor.xml
  Platon/app/src/main/java/com/cmpe451/platon/adapter/SearchElementsAdapter.kt
  Platon/app/src/main/java/com/cmpe451/platon/adapter/SkillsAdapter.kt
  Platon/app/src/main/java/com/cmpe451/platon/network/Webservice.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/HomeActivity.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/otherprofile/OtherProfileFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/otherprofile/OtherProfileRepository.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/otherprofile/OtherProfileViewModel.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/profilepage/ProfilePageFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/profilepage/ProfilePageRepository.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/profilepage/ProfilePageViewModel.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/login/LoginActivity.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/WorkspaceActivity.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/fragment/workspace/WorkspaceFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/fragment/workspace/WorkspaceRepository.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/workspace/fragment/workspace/WorkspaceViewModel.kt
  Platon/app/src/main/res/layout/dialog_tag_search.xml
  Platon/app/src/main/res/navigation/nav_graph_home.xml
Labels: Priority: Medium, Status: Help Needed, Status: In Review, Status: Waiting For Response, Subteam: Android, Type: New Feature

#425 Backend dev report system
  Platon/backend/app/auth_system/forms.py
  Platon/backend/app/auth_system/views.py
  Platon/backend/app/follow_system/forms.py
  Platon/backend/app/follow_system/models.py
  Platon/backend/app/follow_system/views.py
  Platon/backend/app/profile_management/helpers.py
  Platon/backend/templates/notification.html
  Platon/backend/templates/report_admin.html
  Platon/backend/test.py
  Platon/backend/tests/follow_test.py
Labels: Priority: High, Status: Waiting For Response, Subteam: Backend, Type: New Feature

#433 Frontend - Implementation of image preview in file section
  Platon/frontend/src/components/ProfilePage/ProfilePage.js
  Platon/frontend/src/components/UpcomingEvents/UpcomingEventsItem/UpcomingEventsItem.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSectionPreviewConfirmation/WorkspaceViewFileSectionPreviewConfirmation.js
Labels: Priority: High, Priority: Low, Status: In Review, Status: Waiting For Response, Subteam: Frontend

#454 Workspace search with tags is added, Issue section bugs are fixed
  Platon/frontend/src/components/Recommendation/CollaboratorRecommendation/CollaboratorRecommendationDialog/CollaboratorRecommendationDialog.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceView.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewIssueSection/index.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewIssueSection/modals/addComment.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewIssueSection/modals/comments.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewIssueSection/modals/createupdate.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewTagSearch/WorkspaceViewTagSearch.js
Labels: Priority: Highest, Subteam: Frontend, Type: Improvement, Type: New Feature

#455 Backend dev user comment
  Platon/backend/app/follow_system/views.py
Labels: Priority: High, Status: Under review, Status: Waiting For Response, Subteam: Backend, Type: Improvement

#456 Published State Workspaces are removed from Recommendations #444
  Platon/backend/app/recommendation_system/helpers.py
Labels: Priority: Medium, Status: Waiting For Response, Subteam: Backend, Type: Bug

#460 "Number of Pages" information is added into Activity Stream
  Platon/backend/app/activity_stream/views.py
  Platon/backend/tests/activity_stream_test.py
Labels: Priority: Highest, Subteam: Backend, Type: Improvement

#464 Unit tests are added
  Platon/frontend/src/components/NotFound/__test__/NotFound.test.js
  Platon/frontend/src/components/Recommendation/CollaboratorRecommendation/CollaboratorRecommendationDialog/__test__/CollaboratorRecommendationDialog.test.js
  Platon/frontend/src/components/Recommendation/WorkspaceRecommendation/__test__/WorkspaceRecommendation.test.js
  Platon/frontend/src/components/Spinner/__test__/Spinner.test.js
Labels: Priority: Medium, Subteam: Frontend, Type: Task

#463 Backend dev notification
  Platon/backend/app/auth_system/views.py
  Platon/backend/app/follow_system/views.py
  Platon/backend/app/profile_management/forms.py
  Platon/backend/app/profile_management/helpers.py
  Platon/backend/app/profile_management/models.py
  Platon/backend/app/profile_management/views.py
  Platon/backend/app/upcoming_events/helpers.py
  Platon/backend/app/workspace_system/views.py
  Platon/backend/tests/profile_management_test.py
Labels: Priority: High, Status: Waiting For Response, Subteam: Backend, Type: Improvement

#461 Backend Dev Activity Stream Completed 🎊
  Platon/backend/app/activity_stream/helpers.py
  Platon/backend/app/activity_stream/models.py
  Platon/backend/app/activity_stream/views.py
  Platon/backend/app/file_system/views.py
  Platon/backend/app/workspace_system/views.py
  Platon/backend/migrations/versions/e14b21bfe56d_.py
  Platon/backend/migrations/versions/e241399974c5_.py
  Platon/backend/tests/activity_stream_test.py
Labels: Priority: High, Subteam: Backend, Type: Improvement

#467 Navbar router bug is fixed
  Platon/frontend/src/components/NavBar/NavBar.js
Labels: Priority: High, Subteam: Frontend, Type: Bug

#468 Navbar routing was fixed
  Platon/frontend/src/components/NavBar/NavBar.js
  Platon/frontend/src/components/NotFound/__test__/NotFound.test.js
  Platon/frontend/src/components/Recommendation/CollaboratorRecommendation/CollaboratorRecommendationDialog/__test__/CollaboratorRecommendationDialog.test.js
  Platon/frontend/src/components/Recommendation/WorkspaceRecommendation/__test__/WorkspaceRecommendation.test.js
  Platon/frontend/src/components/Spinner/__test__/Spinner.test.js
Labels: Priority: High, Subteam: Frontend, Type: Bug

#470 BUG FIX - Missing href argument is added.
  Platon/frontend/src/components/NavBar/NavBar.js
Labels: Priority: Low, Subteam: Frontend, Type: Bug

#434 Add: Ratings Feature
  Platon/frontend/src/components/ProfilePage/CommentsTab/index.js
  Platon/frontend/src/components/ProfilePage/ProfilePage.js
  Platon/frontend/src/components/ProfilePage/RatingComponent/index.js
  Platon/frontend/src/components/ProfilePage/RatingComponent/utils.js
  Platon/frontend/src/components/ProfilePage/RatingDialog/index.js
  Platon/frontend/src/components/ProfilePage/RatingDialog/utils.js
Labels: Priority: High, Status: Help Needed, Status: Under review, Subteam: Frontend, Type: New Feature

#471 Comment rate is added, router bugs are fixed
  Platon/frontend/src/components/NavBar/NavBar.js
  Platon/frontend/src/components/ProfilePage/CommentsTab/index.js
  Platon/frontend/src/components/ProfilePage/ProfilePage.js
  Platon/frontend/src/components/ProfilePage/RatingComponent/index.js
  Platon/frontend/src/components/ProfilePage/RatingComponent/utils.js
  Platon/frontend/src/components/ProfilePage/RatingDialog/index.js
  Platon/frontend/src/components/ProfilePage/RatingDialog/utils.js
Labels: Priority: High, Subteam: Frontend, Type: Bug, Type: New Feature

#480 Activity stream is styled
  Platon/frontend/src/components/HomePage/Comment.js
  Platon/frontend/src/components/HomePage/HomePage.jsx
  Platon/frontend/src/components/HomePage/InfiniteScroll.js
Labels: Priority: High, Subteam: Frontend, Type: Improvement

#481 Activity stream is added, comment rate bug is fixed
  .idea/workspace.xml
  Platon/frontend/src/components/HomePage/Comment.js
  Platon/frontend/src/components/HomePage/HomePage.jsx
  Platon/frontend/src/components/HomePage/InfiniteScroll.js
  Platon/frontend/src/components/Issue/Issue.js
  Platon/frontend/src/components/ProfilePage/CommentsTab/index.js
  Platon/frontend/src/components/ProfilePage/RatingDialog/index.js
  Platon/frontend/src/services/requestService.js
Labels: Priority: High, Subteam: Frontend, Type: Bug, Type: New Feature

#482 Empty clickable area is removed by changing div to span
  Platon/frontend/src/components/HomePage/Comment.js
Labels: Priority: Low, Subteam: Frontend, Type: Bug

#483 Empty clickable area is removed by changing div to span
  Platon/frontend/src/components/HomePage/Comment.js
Labels: Priority: Low, Subteam: Frontend, Type: Bug

#484 Create the personal calendar endpoint
  Platon/backend/app/upcoming_events/forms.py
  Platon/backend/app/upcoming_events/views.py
Labels: Priority: Highest, Subteam: Backend, Type: New Feature

#486 Homepage is styled
  Platon/frontend/src/components/HomePage/HomePage.jsx
  Platon/frontend/src/components/HomePage/InfiniteScroll.js
  Platon/frontend/src/components/TrendingProjects/TrendingProjects.js
  Platon/frontend/src/components/UpcomingEvents/UpcomingEvents.css
  Platon/frontend/src/components/UpcomingEvents/UpcomingEvents.js
Labels: Priority: Low, Subteam: Frontend, Type: Improvement

#477 Android - Mute In app and Email Notifications
  Platon/.idea/assetWizardSettings.xml
  Platon/.idea/caches/build_file_checksums.ser
  Platon/app/src/main/java/com/cmpe451/platon/network/Webservice.kt
  Platon/app/src/main/java/com/cmpe451/platon/network/models/User.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/profilepage/ProfilePageFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/profilepage/ProfilePageRepository.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/profilepage/ProfilePageViewModel.kt
  Platon/app/src/main/res/drawable/ic_mail_outline_24px.xml
  Platon/app/src/main/res/drawable/ic_notifications_off_24px.xml
  Platon/app/src/main/res/layout/fragment_profile_page.xml
Labels: Status: Waiting For Response, Subteam: Android, Type: New Feature

#488 Android dev calendar list
  Platon/.idea/assetWizardSettings.xml
  Platon/.idea/caches/build_file_checksums.ser
  Platon/app/src/main/java/com/cmpe451/platon/adapter/CalendarAdapter.kt
  Platon/app/src/main/java/com/cmpe451/platon/network/Webservice.kt
  Platon/app/src/main/java/com/cmpe451/platon/network/models/ActivityStream.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/home/HomeFragment.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/home/HomeRepository.kt
  Platon/app/src/main/java/com/cmpe451/platon/page/activity/home/fragment/home/HomeViewModel.kt
  Platon/app/src/main/res/drawable/ic_event_note_24px.xml
  Platon/app/src/main/res/layout/calendar_cell.xml
  Platon/app/src/main/res/layout/dialog_calendar.xml
  Platon/app/src/main/res/menu/actionbar_home.xml
  Platon/app/src/main/res/values/strings.xml
Labels: Priority: High, Status: In Review, Subteam: Android, Type: New Feature

#490 Backend Activity Stream Improvement
  Platon/backend/app/activity_stream/helpers.py
  Platon/backend/app/file_system/views.py
  Platon/backend/app/workspace_system/views.py
Labels: Priority: High, Status: Under review, Status: Waiting For Response, Subteam: Backend, Type: Improvement

#494 Restriction of Follow Based Activities
  Platon/backend/app/activity_stream/views.py
Labels: Priority: Highest, Subteam: Backend, Type: Improvement

#497 BUG FIX - A UI bug is fixed resulting from 0 valued response result.
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewTagSearch/WorkspaceViewTagSearch.js
Labels: Priority: Low, Subteam: Frontend, Type: Bug

#501 Frontend dev
  Platon/frontend/src/components/Deadlines/DeadlinesItem/DeadlinesItem.js
Labels: Priority: High, Subteam: Frontend, Type: Bug

#504 File rename and empty search bugs are fixed
  Platon/frontend/src/components/AppBar/AppBar.js
  Platon/frontend/src/components/NavBar/NavBar.js
  Platon/frontend/src/components/Search/Search.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSection.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSectionRenameConfirmation/WorkspaceViewFileSectionRenameConfirmation.js
Labels: Priority: Medium, Subteam: Frontend, Type: Bug

#505 File rename and empty search bugs are fixed
  Platon/frontend/src/components/AppBar/AppBar.js
  Platon/frontend/src/components/NavBar/NavBar.js
  Platon/frontend/src/components/Search/Search.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSection.js
  Platon/frontend/src/components/Workspace/WorkspaceView/WorkspaceViewFileSection/WorkspaceViewFileSectionRenameConfirmation/WorkspaceViewFileSectionRenameConfirmation.js
Labels: Priority: Medium, Type: Bug, Type: Improvement
